<ion-content>
  <div class="container">
    <div class="login-box">
      <div class="login-title">ex-tracker</div>
      <form (ngSubmit)="login(form)" #form="ngForm">
        <ion-item>
          <ion-input [(ngModel)]="email" name="email" type="email" placeholder="Email" required></ion-input>
        </ion-item>
        <div *ngIf="emailError" class="error-message">{{ emailError }}</div>
        
        <ion-item>
          <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Password" required></ion-input>
        </ion-item>
        <div *ngIf="passwordError" class="error-message">{{ passwordError }}</div>

        <ion-button expand="full" type="submit">Login</ion-button>
      </form>
      <div *ngIf="authError" class="error-message">{{ authError }}</div>
      <div class="register-link" (click)="navigateToRegister()">Registrarme</div>
    </div>
  </div>
</ion-content>
