<ion-header>
  <ion-toolbar>
    <ion-title>Edit Exercise</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="updatedExercise.name" #name="ngModel" required></ion-input>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-message">
      Name is required.
    </div>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-input [(ngModel)]="updatedExercise.description" #description="ngModel" required></ion-input>
    <div *ngIf="description.invalid && (description.dirty || description.touched)" class="error-message">
      Description is required.
    </div>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Duración (minutos)</ion-label>
    <ion-input type="number" [(ngModel)]="updatedExercise.duration" #duration="ngModel" required></ion-input>
    <div *ngIf="duration.invalid && (duration.dirty || duration.touched)" class="error-message">
      Duration is required.
    </div>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descanso (minutos)</ion-label>
    <ion-input type="number" [(ngModel)]="updatedExercise.restTime" #restTime="ngModel" required></ion-input>
    <div *ngIf="restTime.invalid && (restTime.dirty || restTime.touched)" class="error-message">
      Rest Time is required.
    </div>
  </ion-item>

  <ion-item>
    <ion-label>Días de la semana</ion-label>
    <ion-select [(ngModel)]="updatedExercise.daysOfWeek" multiple="true" #daysOfWeek="ngModel" required>
      <ion-select-option value="Monday">Lunes</ion-select-option>
      <ion-select-option value="Tuesday">Martes</ion-select-option>
      <ion-select-option value="Wednesday">Miercoles</ion-select-option>
      <ion-select-option value="Thursday">Jueves</ion-select-option>
      <ion-select-option value="Friday">Viernes</ion-select-option>
      <ion-select-option value="Saturday">Sabado</ion-select-option>
      <ion-select-option value="Sunday">Domingo</ion-select-option>
    </ion-select>
    <div *ngIf="daysOfWeek.invalid && (daysOfWeek.dirty || daysOfWeek.touched)" class="error-message">
      At least one day must be selected.
    </div>
  </ion-item>

  <ion-footer>
    <ion-button expand="full" (click)="save()">Guardar</ion-button>
  </ion-footer>
</ion-content>
