<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-toggle (ionChange)="toggleTheme($event)"></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container">
    <div class="profile-pic-container">
      <input type="file" accept="image/*" (change)="onFileSelected($event)" id="fileInput" hidden />
      <div class="profile-pic" (click)="triggerFileInput()">
        <ion-icon name="camera"></ion-icon>
        <img *ngIf="profileImageUrl" [src]="profileImageUrl" alt="Profile Image" />
      </div>
    </div>
    <form #profileForm="ngForm" (ngSubmit)="updateProfile()">
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input type="text" [(ngModel)]="firstName" name="firstName" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="lastName" name="lastName" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input type="tel" [(ngModel)]="phoneNumber" name="phoneNumber" required></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" [disabled]="!profileForm.valid">Save</ion-button>
    </form>
    <ion-button expand="block" color="danger" (click)="logout()">Logout</ion-button> <!-- Botón de deslogueo -->
  </div>
</ion-content>
