<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ routineName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="updateRoutineName()">
        <ion-icon name="pencil" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button color="danger" (click)="deleteRoutine()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="routine-details-container">
  <ion-list *ngIf="(exercises$ | async) as exercises; else noExercises">
    <ion-item *ngFor="let exercise of exercises" class="exercise-item" lines="full">
      <ion-label>
        <h2>{{ exercise.name }}</h2>
        <p>{{ exercise.description }}</p>
        <p>Duration: {{ exercise.duration }} minutes</p>
        <p>{{ exercise.daysOfWeek }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="openEditExerciseModal(exercise.id)">
          <ion-icon name="pencil" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="deleteExercise(exercise.id)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ng-template #noExercises>
    <ion-item class="no-exercises" lines="none">No exercises found.</ion-item>
  </ng-template>
  <div class="end-routine-button-container">
    <ion-button expand="full" color="danger" (click)="endRoutine()">
      Terminar Rutina
    </ion-button>
  </div>
</ion-content>
