<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ routineName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="updateRoutineName()">
        <ion-icon name="pencil" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button class="delete-button" (click)="deleteRoutine()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="routine-details-container">
  <div *ngIf="(exercises$ | async) as exercises; else noExercises">
    <div class="exercise-card-container">
      <div *ngFor="let exercise of exercises" class="exercise-card">
        <div class="exercise-content">
          <h2>{{ exercise.name }}</h2>
          <p>{{ exercise.description }}</p>
          <p>Duration: {{ exercise.duration }} minutes</p>
          <p>{{ exercise.daysOfWeek }}</p>
        </div>
        <div class="exercise-actions">
          <button (click)="openEditExerciseModal(exercise.id)">
            <ion-icon name="pencil"></ion-icon>
          </button>
          <button class="delete-button" (click)="deleteExercise(exercise.id)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noExercises>
    <div class="no-exercises">No exercises found.</div>
  </ng-template>
  <div class="end-routine-button-container">
    <button class="end-routine-button" (click)="endRoutine()">
      Terminar Rutina
    </button>
  </div>
</ion-content>
