/* home.page.scss */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #121212; /* Fondo oscuro */
  color: #ffffff; /* Texto blanco */
}

.goal-title {
  color: #ffffff;
}

ion-card {
  background-color: #1e1e1e; /* Fondo de tarjeta oscuro */
  color: #ffffff; /* Texto blanco */
}

ion-card-header {
  border-bottom: 1px solid #333; /* Línea de separación */
}

.no-routines {
  color: #ffffff;
}
